schemas/bombeiros.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="Bombeiros">
        <xs:complexType>
            <xs:sequence>
                
                <xs:element name="Ano" type="xs:integer"/>
                
                <xs:element name="LocalizacaoId" type="xs:integer"/>

                <xs:element name="CapacidadeOperacional" type="xs:integer"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>